/* ==========================================================================
  12. Colors
==========================================================================


/* Background Colours */
body, html {
  background-color: $lightgrey;
}

.side .widget, .post, header.header:before, header.header ul ul:before, .comments-wrapper, .author-wrap, .related-posts, .footer-widgets, .home-sticky {
  background: $white;
}

.hero {
  background-color: $accent;
}


button:hover, input[type="submit"]:hover {
  border-color: $accenthover;
}

button:hover, input[type="submit"]:hover {
  opacity: 1;
}

.pagination li a {
  background-color: $accent;
}

.pagination li a:hover {
  background-color: $accenthover;
}

/* Font Colours */
body,
.main-archive .post.result, .main-archive .post.result a, .main-archive .post.result a:hover,
.author-wrap a.author-socials {
  color: $default;
}



.side .current-menu-item a {
  font-weight: 700;
}

a,
header.header nav ul > li.current_page_item > a,
header.header nav ul > li.current-menu-item > a,
header.header nav ul > li.current_page_ancestor > a,
header.header nav ul > li.current-post-ancestor > a,
header.header nav ul > li.current-page-ancestor > a,
.meta a:hover,
.single-post .content a, header.header nav a:hover,
.widget a:hover, .side a:hover, .main-archive h2 a:hover, .related h6 a:hover, .home-sticky-post h3 a:hover {
  color: $accent;
}


body, blockquote {
  border-color: $accent;
}


a:hover h1.entry-title {
  color: $accent;
}

a:hover, a:hover, .meta a,
.widget a, .side a, header.header nav a, footer.footer a:hover, .main-archive h2 a, .related h6 a, .home-sticky-post h3 a {
  color: $accenthover;
}




.site-title a, .site-tagline, footer.footer, footer.footer a {
  color: $default;
}

.hero {
  color: $white;
}



/* Borders */

.single-post .post-content a {
  border-bottom: 1px solid $accent;
}


.post .post-content a {
  border-bottom: 1px solid $accent;
}

.post-content {

  blockquote {
    border-left: 1px solid $accent;
  }

}

.single-post .content a {
  border-color: $accent;
}

.single-post .post-content a:hover,
.single-post .post-content a:hover,
.single-post .meta.bottom a:hover,
.single .meta.bottom a:hover,
.single .post-content a:hover {
  border-color: $accenthover;
  color: $accenthover;
}


.post .post-content a:hover {
  border-bottom: 1px solid $accenthover;
}
