/* ==========================================================================
	0.6 Comments
==========================================================================
*/

h3#respond-title {
	margin-bottom: 0.35em;
}

.author-avatar img {
	width: 50px;
	height: 50px;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	border-radius: 100px;
}

.author-avatar.avatar-small img {
	width: 25px;
	height: 25px;
}

.comments-wrapper {
	position: relative;
	z-index: 1;
	padding-top: 0;
	margin-top: 2em;

}

p.form-submit {
	margin-bottom: 0;
}



#comments {
	display: inline-block;
	width: 100%;

				h5#respond {
					margin-top: 30px;

							span {
								color: $accent;
							}

				}


				.url, .comment-date {
					text-decoration: none;
					margin-top: -0.75em;
					display: block;
				}

				.url {
					font-size: 120%;
				}


				.comment-date {
					margin-top: 0;
					margin-bottom: -1em;
					font-size: 80%;
				}





			.commentlist, .commentlist ul {
				list-style-type: none;
				padding: 0;
				margin: 0;
			}

			.commentlist {
				padding-top: 0;
				padding-bottom: 1em;
				margin-bottom: 2em;
				border-bottom: 1px solid rgba(0,0,0,0.05);

							li {
								display: table;
								width: 100%;
								margin-top: 20px;

								.comment-date {
									border: none;
									padding: 8px 0 4px 0;
									display: block;
								}

								.comment-reply-link {
									display: inline-block;
									margin-top: 0;
									font-size: 70%;
									padding: 0.35em 1.25em;
								}

											.author-avatar, .comment-body {
												display: table-cell;
												vertical-align: top;
											}

											.author-avatar {
												width: 60px;
											}

							}


							ul {
								padding: 20px 0 0 40px;
								position: relative;
								display: block;


										li {
											padding: 20px 0;
											margin: 0 0 20px 0;
											border-top: 3px solid rgba(0,0,0,0.05);
											display: table;


														.author-avatar, .comment-body {
															display: table-cell;
														}


											&:first-child {
												border-top: none;
											}



										}


							}


							.commentlist li:first-child li,
							.commentlist ul li {
								border-top: 1px solid rgba(0,0,0,0.05);
							}




			}


      label, label + .required {
        position: absolute;
        left: -9999em;
      }




}

input#author, input#email, input#url {
	max-width: 500px;
}

textarea#comment {
	height: 250px;
}

button:hover, input[type="submit"]:hover {
	opacity: 0.8;
}
