/*!

	Itsy by FreeHTML5
	https://freehtml5.co
	https://twitter.com/fh5co
	https://fb.com/fh5co

==========================================================================
*/

/* ==========================================================================
	Table of Contents
==========================================================================

	0. Resets
		0.1. Plugins
			0.1.1 Flexslider
		0.2 Tables
		0.3 Code etc.
		0.4 Forms
		0.5 Defaults
		0.6 Comments

	1.  Global Styles
	2.  Sharing & Pagination
	3.  Single, Home & Archive
	4.  Search / Archive / Author
	5.  404
	6.  Archive Layout
	7.  Contact
	8.  Back to top
	9.  Default Page
	10. Related
	11. Header & Footer Widget Areas
	12. Colors
	13. Shortcodes
	14. Media Queries

*/
