//Responsive Widths
@mixin em-min-width($minWidth)
{

  @if $legacy-ie {

    @content;

  }

  @else {

    @media screen and (min-width: $minWidth/16+em) { /* #{$minWidth}px */
      @content;
    }

  }

}


@mixin em-min-height($minHeight)
{

  @if $legacy-ie {


  }

  @else {

    @media screen and (min-height: $minHeight/16+em) { /* #{$minHeight}px */
      @content;
    }

  }

}


@mixin em-min-width-and-height($minWidth,$minHeight)
{

    @if $legacy-ie {


    }

    @else {

        @media screen and (min-width: $minWidth/16+em) and (min-height: $minHeight/16+em) { /* #{$minWidth}px / #{$minHeight}px */
          @content;
    }

  }

}

@mixin em-max-width-and-height($maxWidth,$maxHeight)
{

    @if $legacy-ie {


    }

    @else {

        @media screen and (max-width: $maxWidth/16+em) and (max-height: $maxHeight/16+em) { /* #{$maxWidth}px / #{$maxHeight}px */
          @content;
    }

  }

}



@mixin em-max-width($maxWidth)
{

  @if $legacy-ie {

    @content;

  }

  @else {

    @media screen and (max-width: $maxWidth/16+em) { /* #{$maxWidth}px */
      @content;
    }

  }

}



// Transitions
@mixin transition($type,$milliseconds)
{
  -o-transition: $type $milliseconds+s ease-in-out;
  -webkit-transition: $type $milliseconds+s ease-in-out;
  -moz-transition: $type $milliseconds+s ease-in-out;
  transition: $type $milliseconds+s ease-in-out;
}




//Gradient (2 Values)
@mixin gradient($first,$last)
{
  background-clip: padding-box;
  background: $first;
  background: -moz-linear-gradient(top,  $first 0%, $last 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$first), color-stop(100%,$last));
  background: -webkit-linear-gradient(top,  $first 0%,$last 100%);
  background: -o-linear-gradient(top,  $first 0%,$last 100%);
  background: -ms-linear-gradient(top,  $first 0%,$last 100%);
  background: linear-gradient(to bottom,  $first 0%,$last 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$first', endColorstr='$last',GradientType=0 );

}

//Placeholder
@mixin placeholder($color) {
  ::-webkit-input-placeholder {
     color: $color;
  }

  :-moz-placeholder { /* Firefox 18- */
     color: $color;
  }

  ::-moz-placeholder {  /* Firefox 19+ */
     color: $color;
  }

  :-ms-input-placeholder {
     color: $color;
  }
}


//Font Sizes
@mixin font-size($size) {

  @if $legacy-ie {

    font-size: $size+px;

  }

  @else

  {

    font-size: $size+px;
    font-size: ($size/10)+rem;

  }

}
