/* ==========================================================================
		0.1 Plugins
	========================================================================== */

/* ==========================================================================
0.1.1 Flexslider
========================================================================== */


/*
* jQuery FlexSlider v2.2.0
* http://www.woothemes.com/flexslider/
*
* Copyright 2012 WooThemes
* Free to use under the GPLv2 license.
* http://www.gnu.org/licenses/gpl-2.0.html
*
* Contributing author: Tyler Smith (@mbmufffin)
*/


/* Browser Resets
*********************************/
.flex-container a:active,
.flexslider a:active,
.flex-container a:focus,
.flexslider a:focus  {outline: none;}
.slides,
.flex-control-nav,
.flex-direction-nav {margin: 0; padding: 0; list-style: none;}


/* FlexSlider Necessary Styles
*********************************/
.flexslider {margin: 0; padding: 0;}
.flexslider .slides > li {display: none; -webkit-backface-visibility: hidden;} /* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider .slides img {width: 100%; display: block;}
.flex-pauseplay span {text-transform: capitalize;}

/* Clearfix for the .slides element */
.slides:after {content: "\0020"; display: block; clear: both; visibility: hidden; line-height: 0; height: 0;}
html[xmlns] .slides {display: block;}
* html .slides {height: 1%;}

/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
* include js that eliminates this class on page load */
.no-js .slides > li:first-child {display: block;}

/* FlexSlider MeanThemes Theme
*********************************/
.flexslider { margin: 0; position: relative; zoom: 1; }
.flexslider > ul.slides, .flexslider ul.slides > li {
	padding: 0; margin: 0;
}
.flex-viewport { max-height: 2000px; -webkit-transition: all 1s ease; -moz-transition: all 1s ease; -o-transition: all 1s ease; transition: all 1s ease; }
.loading .flex-viewport { max-height: 300px; }
.flexslider .slides { zoom: 1; }
.carousel li { margin-right: 5px; }

/* Direction Nav */
.flex-direction-nav {*height: 0;}
.flex-direction-nav a  { text-decoration:none; display: block; width: 40px; height: 40px; margin: -20px 0 0; position: absolute; top: 50%; z-index: 10; overflow: hidden; opacity: 0; cursor: pointer; color: rgba(255,255,255,0.8); -webkit-transition: all .3s ease; -moz-transition: all .3s ease; transition: all .3s ease; }
.flex-direction-nav .flex-prev { left: 0; }
.flex-direction-nav .flex-next { right: 0; text-align: right; }
.flexslider:hover .flex-prev { opacity: 0.7; left: 20px; }
.flexslider:hover .flex-next { opacity: 0.7; right: 20px; }
.flexslider:hover .flex-next:hover, .flexslider:hover .flex-prev:hover { opacity: 1; }
.flex-direction-nav .flex-disabled { opacity: 0!important; filter:alpha(opacity=0); cursor: default; }
.flex-direction-nav a:before  { font-family: "FontAwesome"; font-size: 40px; display: inline-block; content: '\f104'; }
.flex-direction-nav a.flex-next:before  { content: '\f105'; }


/* Control Nav */
.flex-control-nav  {
	position: absolute;
	right: 20px;
	bottom: 1em;
	z-index: 3;

				li {
					display: inline-block
				}

				li a {
					display: inline-block;
					width: 10px;
					height: 10px;
					margin: 0 4px;

					text-indent: -999em;

					border: 2px solid #fff;
					border-radius: 6px;

					cursor: pointer;
					opacity: .4;

					-webkit-transition: background .5s, opacity .5s;
					-moz-transition: background .5s, opacity .5s;
					transition: background .5s, opacity .5s;

					&:hover {
						opacity: 0.7;
					}

					&.flex-active {
						background: #fff;
						background: rgba(255,255,255,0.8);
						opacity: 1;
					}

				}

			}



.flex-control-thumbs {margin: 5px 0 0; position: static; overflow: hidden;}
.flex-control-thumbs li {width: 25%; float: left; margin: 0;}
.flex-control-thumbs img {width: 100%; display: block; opacity: .7; cursor: pointer;}
.flex-control-thumbs img:hover {opacity: 1;}
.flex-control-thumbs .flex-active {opacity: 1; cursor: default;}

@media screen and (max-width: 860px) {
	.flex-direction-nav .flex-prev { opacity: 1; left: 10px;}
	.flex-direction-nav .flex-next { opacity: 1; right: 10px;}
}




/* ==========================================================================
  Zilla Likes
  ========================================================================== */

article .zilla-likes {
  padding-top: 40px;
  padding-bottom: 20px;
  padding-left: 0;
  text-decoration: none;
  width: 100%;
  text-align: center;
  background: none;
  font-family: 'Helvetica', Arial, sans-serif;
  font-size: 20px;

        .zilla-likes-count {

          &:before {
            content: '';
            width: 60px;
            height: 60px;
            display: block;
            background: url(assets/img/zillalikes-on.svg) center center no-repeat;
            background: url(assets/img/zillalikes-off.svg) center center no-repeat;
            margin: 0 auto -43px auto;
          }

        }


        &:hover,
        &.active {
          background: none;
          padding-left: 0 !important;


                .zilla-likes-count {

                  &:before {
                    background: url(assets/img/zillalikes-on.svg) center center no-repeat;
                  }

                }

        }

        &:hover {

                .zilla-likes-count {


                      &:before {
                        -webkit-animation: pulsate 1s ease-in-out;
                        -webkit-animation-iteration-count: infinite;
                      }

                }

        }


}

@-webkit-keyframes pulsate {
    0% {-webkit-transform: scale(1.0, 1.0);}
    25% {-webkit-transform: scale(0.9, 0.9);}
    50% {-webkit-transform: scale(1.0, 1.0);}
    75% {-webkit-transform: scale(1.1, 1.1);}
    100% {-webkit-transform: scale(1.0, 1.0);}
}



.isotope-item {
	z-index: 2;
}

.isotope-hidden.isotope-item {
	pointer-events: none;
	z-index: 1;
}

.isotope, .isotope .isotope-item {
	-webkit-transition-duration: 0.8s;
	-moz-transition-duration: 0.8s;
	-ms-transition-duration: 0.8s;
	-o-transition-duration: 0.8s;
	transition-duration: 0.8s;
}

.isotope {
	-webkit-transition-property: height, width;
	-moz-transition-property: height, width;
	-ms-transition-property: height, width;
	-o-transition-property: height, width;
	transition-property: height, width;
}

.isotope .isotope-item {
	-webkit-transition-property: -webkit-transform, opacity;
	-moz-transition-property: -moz-transform, opacity;
	-ms-transition-property: -ms-transform, opacity;
	-o-transition-property: top, left, opacity;
	transition-property: transform, opacity;
}
