/* ==========================================================================
   14. Media Queries
   ========================================================================== */

@include em-min-width(540) {

     .related-posts {


       .posts {
         display: table;
       }


       .related.post {
         display: table-cell;
         vertical-align: top;
         width: 33.33333%;
         padding: 0 0.5em;
       }

     }

     footer.footer {

          #footer-text {
            float: left;
            text-align: left;
          }

          #btt {
            float: right;
            text-align: right;
            padding-top: 0;
          }



     }

}

@include em-min-width(640) {


  .home-sticky {
    padding-bottom: 0;


    .home-sticky-post {
      width: 33.33333%;
      white-space: nowrap;


    }


  }


  .inner {
    padding: 3em;
  }


      /* ==========================================================================
      Archive Layout
      ========================================================================== */

      .archive-layout {
        border-top: 1px solid rgba(0,0,0,0.08);
        padding-top: 2em;


            h4, ul {
              display: table-cell;
              vertical-align: top;
              text-align: left;
            }

            h4 {
              width: 10em;
            }




      }

      .page .post .inner .archive-layout {

              ul {
                padding-top: 0;
              }

      }


}

@include em-min-width(768) {

  .home-sticky {

      h2.home-sticky-title {
        margin-bottom: 2em;
      }

      padding-top: 6em;
      padding-bottom: 5em;

  }


  /* ==========================================================================
    Contact
    ========================================================================== */

  #map {
    height: 400px;
  }



  .flex-control-nav  {
    bottom: 0.5em;
  }

  .main .border {
    width: 9px;
  }



  .post .inner, .comments-wrapper #comments.inner {
    max-width: 820px;
    margin: 0 auto;
    display: block;
  }

  .page {

      article.post {

            &.has-post-thumbnail {

                .inner {
                  margin-top: 0;
                }

            }

      }

      &.page-template-t-contact-php {
        article.post {
          .inner {
            margin-top: 0;
          }
        }
      }

  }




.widget-count-2, .widget-count-3, .widget-count-4,
.widget-count-5, .widget-count-6, .widget-count-7,
.widget-count-8 {
  .widget, .fh5co-about-you-widget {
    width: 49%;
    display: inline-block;
    padding: 1em;
    vertical-align: top;

        .widget {
          width: 100%;
        }

  }
}




      header.header {
        padding-left: 1em;
        padding-right: 0;

            a.menu-trigger {
              display: none;
            }

            nav {
              display: table-cell;
              vertical-align: middle;
              position: relative;
              left: auto;
              opacity: 1;
              padding-right: 1em;


              ul li:hover {

                ul {

                  &:before {
                    content: '';
                    position: absolute;
                    top: 0.75em;
                    left: 0;
                    width: 100%;
                    height: 90%;
                    box-shadow: 0 2px 2px rgba(0,0,0,0.2);
                    opacity: 0.8;
                    margin-top: -1px;
                  }

                  position: absolute;
                  top: 100%;
                  padding: 1em 0;
                  left: 0;
                  float: left;
                  display: block;
                  width: 10em;
                  text-align: left;

                  li {
                    display: block;
                    width: 100%;
                    float: left;
                    margin: 0;
                    font-size: 92%;

                    a {
                      display: block;
                      padding: 0.35em 1em;
                    }

                  }

                }

              }

            }

      }

      .main-wrap {
        float: left;
        width: 69%;


        .main-archive {
          width: 100%;
        }


      }


      .side {
        padding-top: 0;
        float: right;
        width: 30%;
      }



      .sidebar-switch {

        .side {
          float: left;
        }

        .main-wrap {
          float: right;
        }

      }

}

@include em-min-width(960) {


  h2.home-blog-title {
    margin-top: -0.8em;
  }


  body.sticky-menu {
    .wrap.full-wrap {
      padding-top: 5.5em;
    }
  }


  .inner {
    padding: 3em 2em;
  }

  .widget-count-3 {
    .widget, .fh5co-about-you-widget {
      width: 33.2222222222%;

    }
  }

  .widget-count-4 {
    .widget, .fh5co-about-you-widget {
      width: 24.5%;

    }
  }

  .widget-count-5, .widget-count-6, .widget-count-7, .widget-count-8 {
    .widget, .fh5co-about-you-widget {
      width: 19.5%;

    }
  }


  /* ==========================================================================
    Contact
    ========================================================================== */

  #map {
    height: 500px;
  }



  .wrap, .footer-wrap {
    display: table;
    width: 100%;
    max-width: 1360px;
    margin: 0 auto;
  }



  .side {
    padding-top: 0;


    .widgets, nav {
      display: block !important;
    }

          header.header {
            display: block;
            padding: 0;



          }


  }








}



@include em-max-width(767) {

  .hero {
    text-align: center;
  }

}

@media only screen and (max-width: 1024px) {
  .js .hero {
    height: 50% !important;
  }
}
