/* ==========================================================================
	13. Typography
==========================================================================
*/

body, input[type="text"], input[type="email"], input[type="tel"],
input[type="url"], input[type="password"], textarea,
input[type="submit"] {
	font-family: 'Roboto Slab', Georgia, serif;
}

.site-title,
h1, h2, h3,
h4, h5, h6,
.meta,
.more-link,
.share-overlay,
.content-aside,
blockquote,
.btn,
button,
.filter,
input[type="text"], input[type="url"], input[type="email"],
input[type="tel"], input[type="password"], textarea,
.post-meta,
.btn, button, .button, input[type="submit"],
#edd_checkout_cart_wrap,
#edd_checkout_form_wrap,
header.header nav, .hero, #comments .url,
.form-submit input[type="submit"] {
	font-family: 'Amatic SC', 'Heveltica Neue', Arial, sans-serif;
}

/* Font Sizes */

.site-tagline {
	font-size: 95%;
}

.post-content {

	blockquote {
		padding-left: 1em;
	}

}

blockquote, .content-aside {
	font-size: 210%;
}

.wrap {
	@include font-size(16);
}

.site-title {
	@include font-size(28);
}

.more-link, header nav {
	@include font-size(24);
}

.meta {
	@include font-size(22);
}

h1.large {
	@include font-size(168);
}

h1 {
	@include font-size(48);
}

.main-archive h2, h3#respond-title {
	@include font-size(48);
}

h2, h2.home-blog-title {
	@include font-size(36);
}

h3 {
	@include font-size(34);
}

h4 {
	@include font-size(32);
}

h5, #comments .url {
	@include font-size(30);
}

h6 {
	@include font-size(28);
}

.widget h4 {
	@include font-size(26);
}

.widget ul {
	opacity: 0.65;
}

footer.footer, .widget {
	@include font-size(14);
}

.hero {
	line-height: 0.7;

	h1 {
		@include font-size(100);
		line-height: 0.8;
		margin: 0;
	}

	.hero-line-one {
		@include font-size(52);
	}

	.hero-line-two {
		@include font-size(65);
	}

}

/* Font Weights */
.site-title,
h1, h2, h3,
h4, h5, h6,
.meta,
.more-link,
.share-overlay,
.content-aside,
blockquote,
.btn,
button,
.filter,
.post-meta,
.btn, button, .button, input[type="submit"],
header.header nav, .hero, #comments .url,
.form-submit input[type="submit"],
.widget h4 {
	font-weight: 700;
}

.hero * {
	font-weight: 400;
}

.widget h4 {
	font-weight: 600;
}

blockquote {
	margin-bottom: 1em;
	cite {
		font-size: 80%;
		padding-top: 1em;

		display: block;

			&:before {
				content: ' — ';
			}

	}

	p {
		margin: 0;
	}
}

/* Line Heights and Spacing */
p {
	margin: 1em 0 1.5em 0;
}

.widget p {
	margin: 0.5em 0;
}

.team-icons p {
	margin: 0;
}

.square.format-chat p  {
	margin: 1em 0;
}

h1 + h2.sub-title {
	margin-top: 24px;
}

body {
	line-height: 1.6;
}

.site-title,
h1,
.main-archive h2,
.basic-item h2 {
	line-height: 1.1;
}

h2, h3,
h4, h5, h6 {
	line-height: 1.4;
}








/* Setup */
html {
	font-size: 52.5%;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
}



@include em-min-width(640) {
	html {
		font-size: 55.5%;
	}

	h1.large {
		@include font-size(178);
	}

}

@include em-min-width(920) {
	html {
		font-size: 62.5%;
	}

	h1.large {
		@include font-size(208);
	}

}
