//Colours
$black			        : #000;
$white			        : #fff;
$default			    : #737171;
$accent      	        : #f08c79;
$accenthover    	    : #34495e;
$greyline               : #edeeee;
$lightgrey              : #fafbfc;
$secondaryaccent        : #46c570;
$offwhite			    : #fafafa;
$placeholder            : #737171;
$homebg                 : #141919;
